{
    "extends": [
        "stylelint-config-recommended-vue",
        "stylelint-config-css-modules"
    ],
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-no-unknown": null,
        "comment-whitespace-inside": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "declaration-no-important": true,
        "no-descending-specificity": null,
        "no-empty-source": null,
        "rule-empty-line-before": "always",
        "selector-no-vendor-prefix": true,
        "selector-pseudo-element-colon-notation": "single",
        "value-no-vendor-prefix": true
    }
}
