/*
** Fonts
*/

$font-family: 'Ubuntu', sans-serif;

/*
** Colors
*/

$c-black: #303030;
$c-white: #fff;
$c-grey: #a2a2a2;
$c-grey-light: #ececec;
$c-blue: #0d56c6;
$c-blue-light: #cbdcf8;

/*
** Adds
*/

$border-radius: 12px;
$box-shadow: 0 4px 20px 0 rgba($c-black, .15);
$easing: cubic-bezier(0, .4, .4, 1);
